<p id="notice"><%= notice %></p>

<h1>Listing Project Users</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_users.each do |project_user| %>
      <tr>
        <td><%= link_to 'Show', project_user %></td>
        <td><%= link_to 'Edit', edit_project_user_path(project_user) %></td>
        <td><%= link_to 'Destroy', project_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project user', new_project_user_path %>
